# PEP 518: https://www.python.org/dev/peps/pep-0518/

[tool.poetry]
name = "ttls"
version = "1.8.2"
description = "Twinkly Twinkly Little Star"
authors = ["Jakob Schlyter <jakob@schlyter.se>"]
license = "BSD"
readme = "README.md"
repository = "https://github.com/jschlyter/ttls"

[tool.poetry.scripts]
ttls = "ttls.cli:main"

[tool.poetry.dependencies]
python = "^3.9"
colour = "^0.1.5"
aiohttp = "^3.8.5"

[tool.poetry.group.dev.dependencies]
pytest = "^7.4.2"
black = "^22.10.0"
aiounittest = "^1.4.2"
ruff = "^0.4.8"
pytest-ruff = "^0.3.2"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.isort]
profile = "black"

[tool.ruff.lint]
select = [
    # pycodestyle
    "E",
    # Pyflakes
    "F",
    # pyupgrade
    "UP",
    # flake8-bugbear
    "B",
    # flake8-simplify
    "SIM",
    # isort
    "I",
]
ignore = ["E501"]
